<!DOCTYPE html>
<html>
  <head>
    <title>BankOfCoco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a id="home_link" class="links" href="<%=root_path%>">Home</a>
      <%if logged_in?%>
      <a class="links" href="<%=current_user_path%>"><%=current_user%></a>
      <a class="links" href="<%=logout_path%>">Logout</a>
      <%else %>
        <a class="links" href="<%=login_path%>">Login</a>
        <a class="links" href="<%=new_account_path%>">Sign Up</a>
      <%end%>
    </header>
    <% flash.each do |name, msg| -%>
       <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= yield %>
  </body>
  <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script> -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</html>
