<h1>Manage Checking Account </h1>

<div class="manage-wrapper">
  <h3>Add Money</h3>
  <%=form_tag add_checking_path do %>
    <%=label_tag :amount%>
    <%=text_field_tag :amount%>
    <%=label_tag :message%>
    <%=text_field_tag :message%><br>
    <%=submit_tag "Submit", class: "submit"%>
  <%end%>
</div>

<div class="manage-wrapper">
  <h3>Remove Money</h3>
  <%=form_tag sub_checking_path do %>
    <%=label_tag :amount%>
    <%=text_field_tag :amount%>
    <%=label_tag :message%>
    <%=text_field_tag :message%><br>
    <%=submit_tag "Submit", class: "submit"%>
  <%end%>
</div>

<a class="back show-link" href="/accounts/<%=@account.id%>">Back to Profile Page</a>
