<h1>Savings Account Transaction History</h1>

<table>
  <tr>
    <th class="history-header">Date</th>
    <th class="history-header">Message</th>
    <th class="history-header">Amount</th>
  </tr>

    <%@histories.each do |transaction|%>
      <%if transaction.savings && transaction.add%>
        <tr>
          <td class="history-td"><%=transaction.date%></td>
          <td class="history-td"><%=transaction.message%></td>
          <td class="history-td green">$<%=transaction.amount%></td>
        </tr>
        <%else%>
        <tr>
          <td class="history-td"><%=transaction.date%></td>
          <td class="history-td"><%=transaction.message%></td>
          <td class="history-td red">$<%=transaction.amount%></td>
        </tr>
        <%end%>
    <%end%>

</table>

<a class="back" href="/accounts/<%=@account.id%>">Back to Profile Page</a>
