<h1 class="account_id" data-id="<%=@account.id%>">Welcome <%=@account.name%></h1>
<h2>Your Accounts:</h2>

<div class="account-box left">
  <h2 class="account-header">Checking</h2>
  <div class="amount">
    Balance: $<%=@bank.checking%>

  </div>
  <div class="history-link-div"><a class="show-link" href="/checking_history/<%=@account.id%>">View Transactions</a></div>

  <div class="manage">
    <a class="show-link" href="/manage/<%=@account.id%>/checking">Manage Money</a>
  </div>
</div>

<div class="account-box right">
  <h2 class="account-header">Savings</h2>
  <div class="amount">
    Balance: $<%=@bank.savings%>

  </div>
  <div class="history-link-div"><a class="show-link" href="/savings_history/<%=@account.id%>">View Transactions</a></div>
  <div class="manage">
    <a class="show-link" href="/manage/<%=@account.id%>/savings">Manage Money</a>
  </div>
</div>
